/* feature  */
#feature{
    margin-top: 64px;
    margin-bottom: 148px;
}
#feature > .container > h1{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    /* color: #F8F7FC; */
    text-align: center;
    margin-top: unset;
    margin-bottom: 104px;
}
.wrapper-feature{
    display: flex;
    justify-content: center;
}
.feature-item{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}
.feature-item > img{
    width: 158px;
}
.feature-item > p{
    margin-top: 34px;
    margin-bottom: unset;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    /* color: #F8F7FC; */
}
/* end feature  */





/* market  */
#market{
    margin-top:148px;
}
#market > .container > h1{
    font-family: Sora;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* color: #F8F7FC; */
    text-align: center;
    margin: unset;
}
#market > .container > a{
    display: block;
    margin: auto;
    text-align: center;
    width: 180px;
    font-family: 'Sora';
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: underline;
    margin-top: 40px;
}
.market-table{
    width:100%;
    padding: 70px 48px;
    background-color: var(--market-bg);
    border-radius: 30px;
    margin-top: 40px;
}
.market-table > table{
    width: 100%;
}
.table-head > td{
    font-family: 'Sora';
    font-size: 18px;
    line-height: 130%;
    /* color: #FFFFFF; */
    padding-bottom: 24px;
    padding-top: 0;
}
.table-item > td{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* color: #F8F7FC; */
    padding-bottom: 24px;
    padding-top: 0;
}
.fade-label{
    color: rgba(248, 247, 252, 0.7) !important;
}
.market-mobile{
    display: none;
}
.market-mobile-item{
    width: 100%;
    background: var(--market-bg);
    border-radius: 15px;
    padding: 31px 16px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* color: #F8F7FC; */
    margin-bottom: 32px;
}
.market-mobile-item > .top{
    display: flex;
    align-items: center;
}
.market-mobile-item > .top > .fade{
    font-weight: normal;
    color: rgba(248, 247, 252, 0.7);
    margin-left: 12px;
}
.market-mobile-item > .top > img{
    width: 32px;
    margin: 0 8px;
}
.market-mobile-item > .mid{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* market float  */
.blur-market{
    position: absolute;
    width: 429.82px;
    height: 648.17px;
    transform: scale(2) rotate(109.58deg);
    left: -410px;
    top: 178px;
}



.market-blur{
    position: absolute;
    width: 429.82px;
    height: 648.17px;
    background: rgba(166, 0, 193, 0.29);
    filter: blur(300px);
    transform: rotate(109.58deg);
    left: -410px;
    top: 178px;
}
.market-blur.day{
    background: rgba(246, 235, 219, 0.71);
}
/* end market  */


/* why  */
#why{
    margin: 140px 0;
}
#why > .container > h1{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    margin-top: unset;
    margin-bottom: 64px;
}
.wrapper-why{
    display: flex;
    justify-content: space-between;
}
.why-item{
    width: 32%;
    background: var(--market-bg);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px;
}
.why-item > img{
    width: 77px;
}
.why-item > h2{
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
}
.why-item > p{
    margin: unset;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
}
/* end why  */

/* why float  */
.why-blur-1{
    position: absolute;
    width: 433.08px;
    height: 653.09px;
    right: -528px;
    top: 443px;
    transform: scale(2) rotate(109.58deg);
}
.why-blur-2{
    position: absolute;
    width: 433.08px;
    height: 653.09px;
    left: -411px;
    top: -92px;
    transform: scale(2) rotate(109.58deg);
}
/* end why float  */



@media all and (min-width: 1280px){
    
}
@media all and (min-width: 1440px){

}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1000px){
}
@media all and (max-width: 994px){
}
@media all and (max-width: 768px){
    .wrapper-feature,
    .wrapper-why{
        flex-direction: column;
    }
    .feature-item,
    .why-item{
        width: 100%;
    }
    .feature-item{
        margin: unset;
        margin-bottom: 40px;
    }
    .why-item{
        margin-bottom: 48px;
    }
    .market-table{
        display: none;
    }
}
@media all and (max-width: 568px){
}

@media all and (max-width: 430px){
}
@media all and (max-width: 320px){
    
}