/* hero */
#hero > .container:first-child{
    display: flex;
    flex-direction: row;
    padding-top: 98px;
    margin-bottom: 88px;
}
#hero > .container:first-child > div{
    flex:1;
    position: relative;
}
#hero > .container:first-child > div:first-child > h1{
    font-weight: 600;
    font-size: 55px;
    line-height: 120%;
    font-family: 'Sora', sans-serif;
    /* color: #F8F7FC; */
    margin:unset;
    z-index: 1;
    position: relative;
}
#hero > .container:first-child > div:first-child > h1 > img{
    position: relative;
    top: 8px;
}
#hero > .container:first-child > div:last-child > h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* color: #F8F7FC; */
    margin:unset;
    width: 85%;
}
#hero > .container:first-child > div:last-child > a{
    display: block;
    margin-top:62px;
    margin-left: 80px;
    text-decoration-line: underline;
    /* color: #FFF2EE; */
    cursor: pointer;
    position: relative;
    width: 110px;
    text-align: center;
}



#hero > .container:last-child{
    display: flex;
    flex-direction: row;
}
#hero > .container:last-child > div{
    width: 50%;
    position: relative;
}
#hero > .container:last-child > .hero-img > .hero-img-bg{
    /* position: relative;
    left: -45%; */
    position: absolute;
    right: 0;
    width: 854px;
    height: 583px;
}
#hero > .container:last-child > .hero-img > .hero-img-text{
    position: absolute;
    width: 1808px;
    z-index: 2;
    bottom: 6%;
    /* left: -223%; */
    right: 50px;
}

#hero > .container:last-child > .hero-download{
    padding-left: 10%;
}
#hero > .container:last-child > .hero-download > h1{
    font-family: Sora;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    /* color: #F8F7FC; */
}

.download-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
}
.download-wrapper > .download-item{
    width: 30%;
    text-decoration: none;
    font-family: Sora;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 48px;
}
.download-wrapper > .download-item > div{
    margin-top: 16px;
}

#hero-star{
    position:absolute;
    z-index: 0;
    left: 194px;
    top: -26px;
}
#circle-getstart{
    position:absolute;
    z-index: 0;
    top: -44px;
    left: -53px;
}


/* hero float */
.blur-hero1{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: 144px;
    top: 166px;
    transform: scale(2) rotate(58.27deg);
}
.blur-hero2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -88px;
    top: 238px;
    transform: scale(2) rotate(58.27deg);
}


.hero-blur{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: 144px;
    top: 166px;
    background: rgba(192, 37, 37, 0.28);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.hero-blur-2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -88px;
    top: 238px;
    background: rgba(115, 37, 192, 0.35);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.hero-blur.day{
    background: rgba(217, 254, 253, 0.75);
}
.hero-blur-2.day{
    background: rgba(162, 178, 151, 0.23);
}
#line-hero{
    position: absolute;
    top: 259px;
    left: -117px;
}
/* end hero */



/* market  */
#market{
    margin-top:148px;
}
#market > .container > h1{
    font-family: Sora;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* color: #F8F7FC; */
    text-align: center;
    margin: unset;
}
#market > .container > a{
    display: block;
    margin: auto;
    text-align: center;
    width: 180px;
    font-family: 'Sora';
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: underline;
    margin-top: 40px;
}
.market-table{
    width:100%;
    padding: 70px 48px;
    background-color: var(--market-bg);
    border-radius: 30px;
    margin-top: 40px;
}
.market-table > table{
    width: 100%;
}
.table-head > td{
    font-family: 'Sora';
    font-size: 18px;
    line-height: 130%;
    /* color: #FFFFFF; */
    padding-bottom: 24px;
    padding-top: 0;
}
.table-item > td{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* color: #F8F7FC; */
    padding-bottom: 24px;
    padding-top: 0;
}
.fade-label{
    color: rgba(248, 247, 252, 0.7) !important;
}
.market-mobile{
    display: none;
}
.market-mobile-item{
    width: 100%;
    background: var(--market-bg);
    border-radius: 15px;
    padding: 31px 16px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* color: #F8F7FC; */
    margin-bottom: 32px;
}
.market-mobile-item > .top{
    display: flex;
    align-items: center;
}
.market-mobile-item > .top > .fade{
    font-weight: normal;
    color: rgba(248, 247, 252, 0.7);
    margin-left: 12px;
}
.market-mobile-item > .top > img{
    width: 32px;
    margin: 0 8px;
}
.market-mobile-item > .mid{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* market float  */
.blur-market{
    position: absolute;
    width: 429.82px;
    height: 648.17px;
    transform: scale(2) rotate(109.58deg);
    left: -410px;
    top: 178px;
}



.market-blur{
    position: absolute;
    width: 429.82px;
    height: 648.17px;
    background: rgba(166, 0, 193, 0.29);
    filter: blur(300px);
    transform: rotate(109.58deg);
    left: -410px;
    top: 178px;
}
.market-blur.day{
    background: rgba(246, 235, 219, 0.71);
}
/* end market  */



/* top crypto  */
#top-crypto{
    margin-top: 148px;
    margin-bottom: 170px;
}
#top-crypto > .container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.top-slider-crypto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
}
.top-slider-crypto.mobile{
    display: none;
}
.wrapper-main-slider{
    width:65%;
}
.active-slider-block{
    width:35%;
    padding-left: 30px;
}


.slider-crypto {
    margin: 0 -15px;
    /* margin-top: -92px; */
}
.slick-track{
    display: flex;
    align-items: flex-end;
    /* height: 538px; */
    position: relative;
    z-index: 1;
    /* padding: 30px 0px; */
}
.slick-dots{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 36px;
    flex-direction: row-reverse;
}
.slick-dots > div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #342A41;
    margin-left: 10px;
}
.slider-item{
    overflow:hidden;
    background: var(--slider-itm-bg);
    border-radius: 30px;
    padding:60px 30px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 363px;
}
.active-slider-block > .active{
    border-radius: 30px;
    height: 478px;
    padding:40px 42px;
    position: relative;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 29px, #5abedf 29px, #5abedf 32px, transparent 32px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to left, #9db39c, #dda85b), radial-gradient(circle at 100% 0%, transparent 29px, #dda85b 29px, #dda85b 32px, transparent 32px), linear-gradient(to top, #dda85b, #9db39c);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}
.active-slider-block > .active::after{
    content: "";
    width: 99%;
    height: 98.8%;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 29px, #5abedf 29px, #5abedf 32px, transparent 32px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to left, #9db39c, #dda85b), radial-gradient(circle at 100% 0%, transparent 29px, #dda85b 29px, #dda85b 32px, transparent 32px), linear-gradient(to top, #dda85b, #9db39c);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    filter: blur(76px);
    z-index: -1;
}



.active-slider-block > .active > h2{
    margin:unset;
    margin-bottom: 35px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    /* color: #F8F7FC; */
}
.active-slider-block > .active > .item-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* color: #F8F7FC; */

}
.active-slider-block > .active > .item-name > img{
    margin-right: 20px;
}
.active-slider-block > .active > .item-price{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    /* color: #F8F7FC; */
    margin-top: 30px;
    margin-bottom: 15px;
}
.active-slider-block > .active > .item-percent{
    font-family: 'Sora';
    font-size: 24px;
    line-height: 100%;
    color: #FF2828;
}
.active-slider-block > .active > .item-detail{
    text-align: left;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* color: #F8F7FC; */
    margin: 20px 0;
}
.active-slider-block > .active > .item-buy{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    /* color: #FFFFFF; */
}



.slider-item > .deactive > .item-img{
    display: block;
    margin: auto;
}
.slider-item > .deactive > .item-name{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    /* color: #F8F7FC; */
    margin:30px 0;
}
.slider-item > .deactive > .item-price{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    /* color: #F8F7FC; */
    margin-top: unset;
    margin-bottom: 20px;
}
.slider-item > .deactive > .item-percent{
    font-family: 'Sora';
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #FF2828 !important;
}

/* float crypto  */
.blur-crypt{
    position: absolute;
    width: 433.08px;
    height: 653.09px;
    right: -393px;
    top: -187px;
    transform: scale(2) rotate(109.58deg);
}




.top-crypto-blur{
    position: absolute;
    width: 433.08px;
    height: 653.09px;
    right: -393px;
    top: -187px;

    background: rgba(166, 0, 193, 0.45);
    filter: blur(300px);
    transform: rotate(109.58deg);
}
.top-crypto-blur.day{
    background: #FFF3E1;
}
.top-crypto-blur.day1{
    position: absolute;
    width: 418.67px;
    height: 774.69px;
    right: -329px;
    top: -509px;

    background: rgba(217, 254, 253, 0.41);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
#b-letter{
    position: absolute;
    top: 390px;
    left: -175px;
}
/* end top crypto  */


/* buy crypto  */
#buy-crypto{
    margin-bottom: 233px;
}
#buy-crypto > .container > h1{
    text-align: center;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* color: #F8F7FC; */
    margin-top: 0px;
    margin-bottom: 60px;
}
#buy-crypto > .container > h3{
    font-family: 'Sora';
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    /* color: #F8F7FC; */
    margin: unset;
    margin-top: 70px;
}
.wrapper-buy{
    display: flex;
    width: 817px;
    margin: auto;
}
.wrapper-buy > .wrapper-input{
    flex:1;
}
.wrapper-buy > button{
    width: 114px;
    margin-left: 20px;
    margin-top: 39px;
    border: unset;
    cursor: pointer;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 14px, #9db39c 14px, #9db39c 17px, transparent 17px), linear-gradient(to right, #9db39c, #dda85b), radial-gradient(circle at 0% 100%, transparent 14px, #dda85b 14px, #dda85b 17px, transparent 17px), linear-gradient(to bottom, #dda85b, #9db39c), radial-gradient(circle at 0% 0%, transparent 14px, #9db39c 14px, #9db39c 17px, transparent 17px), linear-gradient(to left, #9db39c, #5abedf), radial-gradient(circle at 100% 0%, transparent 14px, #5abedf 14px, #5abedf 17px, transparent 17px), linear-gradient(to top, #5abedf, #9db39c);
    background-size: 17px 17px, calc(100% - 34px) 3px, 17px 17px, 3px calc(100% - 34px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    outline: none;
    position: relative;
    border-radius: 17px;
}
.wrapper-buy > button::after{
    content: "";
    width: 95%;
    height: 98%;
    filter: blur(76px);
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 14px, #9db39c 14px, #9db39c 17px, transparent 17px), linear-gradient(to right, #9db39c, #dda85b), radial-gradient(circle at 0% 100%, transparent 14px, #dda85b 14px, #dda85b 17px, transparent 17px), linear-gradient(to bottom, #dda85b, #9db39c), radial-gradient(circle at 0% 0%, transparent 14px, #9db39c 14px, #9db39c 17px, transparent 17px), linear-gradient(to left, #9db39c, #5abedf), radial-gradient(circle at 100% 0%, transparent 14px, #5abedf 14px, #5abedf 17px, transparent 17px), linear-gradient(to top, #5abedf, #9db39c);
    background-size: 17px 17px, calc(100% - 34px) 3px, 17px 17px, 3px calc(100% - 34px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    position: absolute;
    top: 1%;
    left: 3%;
}
.wrapper-buy > button > img{
    margin:auto;
}

.wrapper-input > div{
    display: flex;
    flex-direction: row;
}
.wrapper-input > div:first-child{
    margin-bottom: 30px;
}
.wrapper-input > div > div{
    display: flex;
    flex-direction: column;
    flex:5;
}
.wrapper-input > div > div > span{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    /* color: #F8F7FC; */
    margin-bottom: 15px;
}
.wrapper-input > div > div:last-child{
    flex:2;
    margin-left: 20px;
}
.wrapper-input > div > div > select{
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(assets/carret_down.svg) no-repeat right white;
    background-position-x: 100px;
}
.input-elem{
    margin:unset;
    height: 70px;
    border: unset;
    border-radius: 15px;
    padding: 19px 25px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #0A0313;
}

.wrapper-payment{
    display: flex;
    width: 564px;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}
.wrapper-payment > img{
    width: 168px;
    height: 102px;
    background: #1D1428;
    border-radius: 30px;
    padding: 5%;
}

/* float buy crypto  */
#q-letter{
    position: absolute;
    top: 439px;
    right: -190px;
}
.buy-crypt{
    position: absolute;
    width: 511.89px;
    height: 589.78px;
    left: -460px;
    top: 313px;
    transform: scale(2) rotate(58.27deg);
}





.buy-blur{
    position: absolute;
    width: 511.89px;
    height: 589.78px;
    left: -460px;
    top: 313px;

    background: rgba(131, 108, 120, 0.58);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.buy-blur.day{
    background: rgba(246, 235, 219, 0.8);
}
#line-buycrypt{
    position: absolute;
    left: -836px;
    top: -7px;
}
/* end buy crypto  */



/* guide */
#guide{
    margin-bottom: 170px;
}
#guide > .container{
    display: flex;
}
.slider-control{
    width: 35%;
}
.slider-guide{
    width: 85%;
    margin-right: -20%;
    padding-left: 97px;
}
.slider-guide > .slick-list{
    padding: 40px;
    margin-top: -40px;
    margin-left: -40px;
}
.slide-indicator{
    display: flex;
    justify-content: space-between;
}
.slide-indicator > span{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    /* color: #F8F7FC; */
}
.slide-indicator > div{
    display: flex;
    align-items: center;
}
.slide-indicator > div > img{
    cursor: pointer;
}
.slide-indicator > div > img:first-child{
    margin-right: 10px;
}
.slider-control > h1{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    /* color: #F8F7FC; */
    margin-top: 38px;
    margin-bottom: 59px;
}
.slider-control > a{
    margin-left: 33px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: underline;
    /* color: #F8F7FC; */
    position: relative;
}
.slider-control > a > img{
    position: absolute;
    top: -191%;
    left: -45%;
}
.guide-slide-item{
    background: var(--slider-itm-bg);
    border-radius: 30px;
    width: 301px;
    height: 392px;
    margin-right: 26px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: relative;
    /* background-image: radial-gradient(circle at 100% 100%, transparent 29px, #1D1428 29px, #1D1428 32px, transparent 32px), linear-gradient(to right, #1D1428, #1D1428), radial-gradient(circle at 0% 100%, transparent 29px, #1D1428 29px, #1D1428 32px, transparent 32px), linear-gradient(to bottom, #1D1428, #1D1428), radial-gradient(circle at 0% 0%, transparent 29px, #1D1428 29px, #1D1428 32px, transparent 32px), linear-gradient(to left, #1D1428, #1D1428), radial-gradient(circle at 100% 0%, transparent 29px, #1D1428 29px, #1D1428 32px, transparent 32px), linear-gradient(to top, #1D1428, #1D1428);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat; */
    transition: all 200ms ease-out;
}
.guide-slide-item.slick-current{
    position: relative;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 29px, #5abedf 29px, #5abedf 32px, transparent 32px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to left, #9db39c, #dda85b), radial-gradient(circle at 100% 0%, transparent 29px, #dda85b 29px, #dda85b 32px, transparent 32px), linear-gradient(to top, #dda85b, #9db39c);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}
.guide-slide-item.slick-current::after{
    content:'';
    width: 100%;
    height: 100%;
    top:0;
    border-radius: 30px;
    filter: blur(20px);
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 29px, #5abedf 29px, #5abedf 32px, transparent 32px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 29px, #9db39c 29px, #9db39c 32px, transparent 32px), linear-gradient(to left, #9db39c, #dda85b), radial-gradient(circle at 100% 0%, transparent 29px, #dda85b 29px, #dda85b 32px, transparent 32px), linear-gradient(to top, #dda85b, #9db39c);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}
.guide-slide-item > h2{
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* color: #F8F7FC; */
}
.guide-slide-item > div{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* color: #F8F7FC; */
}
.guide-slide-item.slick-slide{
    opacity: 0;
}
.guide-slide-item.slick-slide.slick-active{
    opacity: 1;
}

/* float guide  */
.blur-guide1{
    position: absolute;
    width: 236.93px;
    height: 561px;
    right: -211px;
    top: 60px;
    transform: scale(2) rotate(58.27deg);
}
.blur-guide2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    right: 0;
    top: 204px;
    transform: scale(2) rotate(58.27deg);
}



.guide-blur{
    position: absolute;
    width: 236.93px;
    height: 561px;
    right: -211px;
    top: 60px;

    background: #836C78;
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.guide-blur.day{
    background: rgba(215, 169, 98, 0.21);
}
.guide-blur-2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    right: 0;
    top: 204px;

    background: rgba(115, 37, 192, 0.35);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.guide-blur-2.day{
    background: rgba(162, 178, 151, 0.23);
}
/* end guide  */


/* feature */
#feature{
    margin-bottom: 141px;
}
#feature > .container > h1{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    /* color: #F8F7FC; */
    margin-top:unset;
    margin-bottom: 60px;
    text-align: center;
}
#feature > .container > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
}
#feature > .container > .brand-top{
    margin-bottom: 71px;
}
/* end feature  */


/* get start  */
#get-start{
    margin-bottom: 77px;
}
#get-start > .container{
    background: var(--start-bg);
    border-radius: 30px;
    padding: 107px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#get-start > .container > h1{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    /* color: #F8F7FC; */
    margin-top:unset;
    margin-bottom: 40px;
}
#get-start > .container > a{
    font-family: 'Sora';
    padding: 22px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* color: #FFF2EE; */
    text-decoration: none;
    position: relative;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 13px, #9db39c 13px, #9db39c 16px, transparent 16px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 13px, #5abedf 13px, #5abedf 16px, transparent 16px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 13px, #9db39c 13px, #9db39c 16px, transparent 16px), linear-gradient(to left, #9db39c, #dda85d), radial-gradient(circle at 100% 0%, transparent 13px, #dda85d 13px, #dda85d 16px, transparent 16px), linear-gradient(to top, #dda85d, #9db39c);
    background-size: 16px 16px, calc(100% - 32px) 3px, 16px 16px, 3px calc(100% - 32px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}
#get-start > .container > a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    z-index: 0;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 13px, #9db39c 13px, #9db39c 16px, transparent 16px), linear-gradient(to right, #9db39c, #5abedf), radial-gradient(circle at 0% 100%, transparent 13px, #5abedf 13px, #5abedf 16px, transparent 16px), linear-gradient(to bottom, #5abedf, #9db39c), radial-gradient(circle at 0% 0%, transparent 13px, #9db39c 13px, #9db39c 16px, transparent 16px), linear-gradient(to left, #9db39c, #dda85d), radial-gradient(circle at 100% 0%, transparent 13px, #dda85d 13px, #dda85d 16px, transparent 16px), linear-gradient(to top, #dda85d, #9db39c);
    background-size: 16px 16px, calc(100% - 32px) 3px, 16px 16px, 3px calc(100% - 32px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}

/* float get start  */
#w-letter{
    position: absolute;
    top: -85px;
    left: -88px;
}
.blur-start1{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -71px;
    top: 89px;
    transform: scale(2) rotate(58.27deg);
}
.blur-start2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -389px;
    top: 128px;
    transform: scale(2) rotate(58.27deg);
}





.start-blur{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -71px;
    top: 89px;

    background: #836C78;
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.start-blur.day{
    background: #F9F1E6;
}
.start-blur-2{
    position: absolute;
    width: 303.18px;
    height: 561px;
    left: -389px;
    top: 128px;

    background: rgba(115, 37, 192, 0.35);
    filter: blur(300px);
    transform: rotate(58.27deg);
}
.start-blur-2.day{
    background: #EDE6D5;
}
#get-start > .wrapper-float{
    position: relative;
    margin:auto;
    width:100%;
    max-width: 1170px;
    padding:0 21px;
}
/* end get start  */





@media all and (min-width: 1280px){
    
}
@media all and (min-width: 1440px){

}




@media all and (max-width: 1140px){
    #guide > .container{
        overflow: hidden;
    }
}
@media all and (max-width: 1000px){
}
@media all and (max-width: 994px){
    .wrapper-main-slider,
    .active-slider-block{
        width: 50%;
    }
    .wrapper-buy,
    #guide > .container{
        flex-direction: column;
    }
    .wrapper-buy > button{
        width: 100%;
        margin-left: unset;
        height: 100px;
    }
    .slider-control{
        width: 100%;
    }
    #get-start > .container{
        padding: 21px 19px;
    }
    #get-start{
        padding: 0 25px;
    }
    .slider-guide{
        margin-right: unset;
        padding-left: unset;
        margin-top: 54px;
        width: 100%;
    }
    #hero-star{
        left: 111px;
    }
}
@media all and (max-width: 768px){
    .market-mobile{
        display: block;
    }
    .top-slider-crypto,
    .market-table{
        display: none;
    }
    .top-slider-crypto.mobile{
        display: flex;
    }
    #feature > .container > div > img{
        margin: 10px;
    }
    #market > .container > h1{
        margin-bottom: 40px;
    }
    #hero > .container:first-child,
    #hero > .container:last-child{
        flex-direction: column;
    }
    #hero > .container:last-child > div{
        width: 100%;
        height: 583px;
    }
    #hero > .container:last-child > .hero-download{
        padding-left: unset;
        width: 100%;
    }
    #hero > .container:last-child > .hero-img > .hero-img-bg{
        left: -200px;
        right: unset;
    }
    .wrapper-buy{
        width: 100%;
    }
    #feature > .container > div{
        flex-wrap: wrap;
    }
    .download-wrapper > .download-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper-payment{
        width: 100%;
    }
}
@media all and (max-width: 568px){
    .wrapper-payment > img{
        width: 30%;
    }
    #hero > .container:last-child > .hero-img > .hero-img-bg{
        left: -450px;
    }
    #hero > .container:first-child > div:first-child > h1{
        font-size: 36px;
        line-height: 120%;
        width: 60%;
        margin-bottom: 32px;
    }
    #hero > .container:first-child > div:last-child > h1{
        font-size: 16px;
        line-height: 180%;
    }
    #hero > .container:last-child > .hero-download > h1{
        margin: 48px 0;
        font-size: 24px;
        line-height: 100%;
    }
    .download-wrapper > .download-item{
        font-size: 14px;
        line-height: 100%;
    }
    #get-start > .container > h1{
        font-size: 14px;
        line-height: 150%;
    }
    #market > .container > h1,
    #buy-crypto > .container > h1,
    .slider-control > h1,
    #feature > .container > h1{
        font-size: 24px;
        line-height: 130%;
    }
    #market > .container > a{
        font-size: 16px;
        line-height: 130%;
    }
    .top-slider-crypto > h1{
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
    }
    .active-slider-block > .active > h2,
    .active-slider-block > .active > .item-price,
    .slider-item > .deactive > .item-price{
        font-size: 16px;
        line-height: 100%;
    }
    .active-slider-block > .active > .item-name > img,
    .slider-item > .deactive > .item-img,
    .slick-slide img{
        width: 34px;
        height: 34px;
    }
    .active-slider-block > .active > .item-name,
    .slider-item > .deactive > .item-name,
    .active-slider-block > .active > .item-percent,
    .slider-item > .deactive > .item-percent,
    #get-start > .container > a,
    .guide-slide-item > h2,
    #buy-crypto > .container > h3,
    .wrapper-input > div > div > span{
        font-size: 12px;
        line-height: 100%;
    }
    .active-slider-block > .active,
    .slider-item{
        height: unset;
    }
    .active-slider-block > .active > .item-detail{
        font-size: 10px;
        line-height: 180%;
    }
    #get-start > .container > a{
        width: 120px;
        height: 40px;
        padding: 14px 24px;
        text-align: center;
    }
    .guide-slide-item > div{
        font-size: 10px;
        line-height: 150%;
    }
    .guide-slide-item{
        width: 132px;
        height: 217px;
        padding: 13px;
        margin-right: unset;
        margin: 0 16px;
    }
    .wrapper-input > div > div:last-child{
        flex: unset;
        width: 40%;
    }
    .wrapper-input > div > div{
        width: 60%;
        flex: unset;
    }
    .wrapper-input > div > div > select{
        background-position-x: 83px;
    }
    .input-elem{
        padding: 15px 11px;
    }
    .active-slider-block > .active, .slider-item{
        padding: 27px;
    }
    .active-slider-block > .active > .item-buy{
        font-size: 12px;
        line-height: 15px;
    }
    .active-slider-block{
        padding-left: unset;
    }
    .slider-crypto{
        padding-right: 20px;
    }
    #hero > .container:last-child > .hero-img > .hero-img-text{
        right: 200px;
    }
}

@media all and (max-width: 430px){
    #hero > .container:last-child > .hero-img > .hero-img-bg{
        left: -650px;
    }
    #hero > .container:first-child > div:first-child > h1{
        width: 100%;
    }
}
@media all and (max-width: 320px){
    
}


